.bg-img1{
    background-color: #000;
    background-size: cover;
    background-image: url(./anh-nen-mat-trang-xanh-cho-may-tinh_033714695.jpg);
}
.bg-img2{
    background-color: #000;
    background-size: cover;
    background-image: url(./anh-nen-mat-trang-xanh-cho-may-tinh_033714695.jpg);
}
.bg-img3{
    background-color: #000;
    background-size: cover;
    background-image: url(./anh-nen-mat-trang-xanh-cho-may-tinh_033714695.jpg);
}